extends layout

block append scripts 
    link(rel="stylesheet", type="text/css", href="/css/planets.css")
    script(src="js/planetsAnimation.js")
block main-content
    h1 Discover the Planets
    p Welcome to "Discover the Planets," your gateway to an awe-inspiring cosmic adventure! Embark on an enthralling journey through our solar system as we unveil the beauty and wonder of each planet. From scorching Mercury to icy Neptune, get ready to explore the diverse and mysterious realms that grace our celestial neighborhood. Join us as we marvel at the captivating visuals and discover the key details that make each planet unique. It's time to be spellbound by the wonders of the cosmos!
    div#planetContainer
        each planet in planets
            div.planetContainer__eachplanet
                img(src=planet.imageLink alt=planet.englishName width="300")
                div.eachplanet__intro 
                    p Name: #{planet.englishName}
                    p
                        | Mass: #{(planet.mass.massValue).toFixed(2)} x10
                        sup #{planet.mass.massExponent}
                        |  kg
                    p 
                        | Volume: #{(planet.vol.volValue).toFixed(2)} x10
                        sup #{planet.vol.volExponent} 
                        |  km 
                        sup 3
                    p 
                        | Distance To The Sun: #{((planet.semimajorAxis)/1000000).toFixed(2)} x10 
                        sup 6
                        |  km
                    p Mean Radius: #{planet.meanRadius} km
                    p Average Temperature: #{((planet.avgTemp)-273.15).toFixed(2)} &deg;C
                    p Escape Velocity: #{planet.escape} m/s